.setup_form {
	display: flex;
	flex-direction: column;
	gap: 1em;
	border: 3px solid var(--quaternary-color);
	border-radius: 5px;
}

.setup_form__description {
	color: var(--quaternary-color);
	width: 65ch;
	max-width: 100%;
	text-align: center;
}

.setup_form__button {
	border-radius: 5px;
	font-size: 1.5rem;
	padding: 0.5em 1em;
	margin: 0.25em;
}

.setup_form__button__active {
	color: var(--quaternary-color);
	background-color: var(--tertiary-color);
	border: 2px solid var(--quaternary-color);
	cursor: pointer;
}

.setup_form__button__inactive {
	color: var(--quaternary-color);
	background-color: gray;
	border: 2px solid var(--quaternary-color);
}

.setup_form__button__active:hover {
	background-color: var(--secondary-color);
	color: var(--tertiary-color);
	border: 2px solid var(--tertiary-color);
}

.setup_form__input {
	display: block;
	margin-inline: auto;
}

.setup_form__label {
	color: var(--quaternary-color);
	margin: auto;
}
