.letterbox {
	background-color: cornflowerblue;
}

.pokemonLetterbox {
	background-color: red;
}

.letterbox:hover,
.pokemonLetterbox:hover {
	background-color: darkblue;
}

.selected {
	background-color: purple;
}
